<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-6 indent-box">
    <p class="description">
      <%= page.indents.first.body %>
    </p>
    
  </div>
  <div class="col-md-4 offset-md-2 indent-box">
    <div class="prototype-price button">
      от <span>500</span> грн
    </div>
    <div class="button modal-btn" onclick="ga('send', 'event', '<%= page.category.title %>_<%= page.title %>_page', 'order_prototip_1')">
      Заказать прототипирование
    </div>
    <h4 class="indent-title">
      <%= page.indents.last.title %>
    </h4>
    <p class="description">
      <%= raw(page.indents.last.body) %>
    </p>
  </div>
</div>
