<div class="social-icons indent-mobile">
  <%= image_tag '/assets/insta-smm-icon.svg', class: 'img-fluid' %>
  <%= image_tag '/assets/vk-smm-icon.svg', class: 'img-fluid' %>
  <%= image_tag '/assets/fb-smm-icon.svg', class: 'img-fluid' %>
</div>
<div class="row">
  <div class="col-md-9">
    <h2 class="title">
      <%= page.name %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="description">
      <%= raw(page.indents.first.body) %>
    </div>
    <div class="sales">
      <span>%</span> Скидка 25% при заказе фирменного стиля вместе с сайтом визиткой
    </div>
  </div>
</div>
