<div class="row">
  <div class="col-md-9">
    <h2 class="title">
      <%= page.name %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-box">
      <%= form_for :projects,url: projects_path, remote: true do |f| %>
      <%= f.hidden_field :form_place, :value => "#{page.category.name}/#{page.name}" %>
          <div class="row">
            <div class="col-md-6 inputs-mobile">
                <div class="input-group">
                  <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
                </div>
              <div class="input-group">
                  <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
                </div>
              <div class="input-group">
               <%= f.text_field :site, class: 'form-control',placeholder: 'Чем занимаетесь?' %>
              </div>
                
            </div>
            <div class="col-md-6 inputs-mobile">
              <div class="input-group">
                <%= f.text_area :projectm, class: 'form-control',placeholder: 'Опишите кратко свой проект' %>
              </div>
            </div>
            <div class="actions">
             <div class="container">
               <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <%= f.button 'Обсудить проект', class: 'button', :onclick => "ga('send', 'event', '#{page.category.title}_#{page.title}_page', 'send_discuss_project_3')" %>
              </div>
            </div>
              </div>
             </div>
              
              
            </div>
            
          </div>
       <% end %>
    </div>
  </div>
  <div id="timer-box" class="col-md-5 offset-md-1 col-12 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-6 col-sm-6">
        <div class="digit days">
        </div>
        <span class="time-value">дней</span>
      </div>
      <div class="col-md-6 col-6 col-sm-6">
        <div class="digit hours">
        </div>
        <span class="time-value">часов</span>
      </div>
      <div class="col-md-6 col-6 col-sm-6">
        <div class="digit minutes">
        </div>
        <span class="time-value">минуты</span>
      </div>
      <div class="col-md-6 col-6 col-sm-6">
        <div class="digit seconds">
        </div>
        <span class="time-value">секунды</span>
      </div>
    </div>
  </div>
</div>
<script>
  var countDownDate = new Date("Oct 11, 2017 22:00:00").getTime();
  var timer = setInterval(function(){
    
    var now = new Date().getTime();
    var distance = countDownDate - now;
    
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    $('.days').html(days);
    $('.hours').html(hours);
    $('.minutes').html(minutes);
    $('.seconds').html(seconds);
  }, 1000);
</script>