<h2 class="title text-center">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="description">
      <%= raw(page.indents.first.body) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="scroll-box">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>
              <%= image_tag "/assets/car.png",class: 'img-fluid' %>
              <h4 class="indent-title">Обычный сайт</h4>
            </th>
            <th>
              <%= image_tag "/assets/plane.png",class: 'img-fluid' %>
              <h4 class="indent-title">Посадочная страница</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Максимально точная подача информации</td>
            <td></td>
            <td><%= image_tag "/assets/table-tick.png", class: "img-fluid" %></td>
          </tr>
          <tr>
            <td>Влияние на пользователя положительными фактами</td>
            <td></td>
            <td><%= image_tag "/assets/table-tick.png", class: "img-fluid" %></td>
          </tr>
          <tr>
            <td>Удобный интерфейс и юзабилити</td>
            <td></td>
            <td><%= image_tag "/assets/table-tick.png", class: "img-fluid" %></td>
          </tr>
          <tr>
            <td>Высокий уровень конверсии</td>
            <td></td>
            <td><%= image_tag "/assets/table-tick.png", class: "img-fluid" %></td>
          </tr>
          <tr>
            <td>Простота системы управления и аналитики</td>
            <td></td>
            <td><%= image_tag "/assets/table-tick.png", class: "img-fluid" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>