<div class="row">
  <div class="col-md-5 col-12 col-sm-12 indent-mobile">
    <div class="row">
      <div class="col-md-5 col-12 col-sm-12">
        <div class="service-image">
          <%= image_tag page.indents.first.image_url,class: 'img-fluid' %>
        </div>
      </div>
    </div>
    <h2 class="title">
      <%= page.name %>
    </h2>
    <p class="description">
      <%= page.indents.first.body %>
    </p>
    <% unless mobile_device? %>
    <%= link_to 'Показать больше',services_category_path(page.title), class: 'show-more button' %>
    <% end %>
  </div>
  <div class="col-md-4 offset-md-2 col-12 col-sm-12">
   <div class="category-box justify-box">
     <div class="sub-categories">
      <% @category.categories.find_by(:title => page.title).categories.each do |item| %>
        <%= link_to item.name,services_sub_category_path(page.title,item.title) %>
      <% end %>
    </div>
     <% if mobile_device? %>
     <div class="button">
       Узнать цены
     </div>
     <% end %>
   </div>
  </div>
</div>