<div class="row">
  <div class="col-md-6 indent-mobile">
    <h2 class="title">
      <%= page.name %>
    </h2>
    <p class="description">
      <%= page.indents.first.body %>
    </p>
  </div>
  <div class="col-md-4 offset-md-2">
    <div class="form-justify">
     <div class="polygraph form-box">
    <p class="description">
      Закажи самый адаптивный сайт в животном мире, и получи скидку 10%
    </p>
     <%= form_for :project,url: '#' do |f| %>
       <%= f.hidden_field :form_place, :value => "#{page.category.name}/#{page.name}" %>
          <div class="input-group">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
          </div>
          <div class="input-group">
            <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
          </div>
          <div class="input-group">
            <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
          </div>
          <div class="input-group">
            <%= f.button 'Обсудить проект', class: 'button', :onclick => "ga('send', 'event', '#{page.category.title}_#{page.title}_page', 'send_discuss_project_17')" %>
          </div>
          <% end %>
   </div>
   </div>
  </div>
</div>