<div class="row">
  <div class="col-md-12">
    <div class="owl-carousel">
      <%= image_tag "/assets/comand1.png" %>
      <%= image_tag "/assets/comand1.png" %>
      <%= image_tag "/assets/comand1.png" %>
      <%= image_tag "/assets/comand1.png" %>
      <%= image_tag "/assets/comand1.png" %>
      <%= image_tag "/assets/comand1.png" %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      items: 5,
      loop: true,
      center: true
    });
  })
</script>