<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <% Case.all.each do |item| %>
    <div class="col-md-6">
      <div class="project-box">
        <h4 class="project-title">
          <%= item.name %>
        </h4>
        <span class="project-category">
          <%= item.category.parent.name %> | <%= item.category.name %>
        </span>
      </div>
    </div>
  <% end %>
  <div class="col-md-6 hidden-sm-down">
    <div class="project-box show-all">
      <div class="show-all-projects button" onclick="ga('send', 'event', '<%= page.category.title %>_<%= page.title %>_page', 'show_all_works')">
        Показать все работы
      </div>
    </div>
  </div>
</div>