<div class="row">
  <div class="col-md-9">
    <h2 class="gift-form title">
      <%= page.name %> <span>*</span>
    </h2>
    <div class="row gift-form-box">
      <div class="col-md-4">
        <div class="ball-box">
          <svg id="fillgauge1" width="100%" height="207"></svg>
        </div>
      </div>
      <div class="col-md-7">
        <div class="gift form-box">
          <%= form_for :project,url: '#' do |f| %>
          <div class="row">
            <div class="col-md-6 inputs-mobile">
                <div class="input-group">
                  <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
                </div>
            </div>
            <div class="col-md-6 inputs-mobile">
              <div class="input-group">
               <%= f.text_area :comment, class: 'form-control',placeholder: 'Опишите кратко свой проект' %>
              </div>
            </div>
            <div class="actions">
             <div class="container">
               <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <%= f.button 'Обсудить проект', class: 'button', :onclick => "ga('send', 'event', '#{page.category.title}_form', 'send_discuss_project_2')" %>
              </div>
            </div>
              </div>
             </div>
              
              
            </div>
            
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="warning">
      <p><span>*</span> Лол казино всегда в плюсе,мы вас поимеем!</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="social-links justify-box">
      <div class="contact message text-center">
            <p><%= image_tag '/assets/icon-message.svg',class: 'img-fluid' %></p>
            <a href="#">info@biglions.org</a>
          </div>
        
        
          <div class="contact mobile text-center">
            <p><%= image_tag '/assets/icon-mobile.svg',class: 'img-fluid' %></p>
            <p><a href="tel:380977315610">+38 (097) 731-56-10</a></p>
            <p><a href="tel:380449546628">+38 (044) 954-66-28</a></p>
          </div>
        
        
          <div class="contact map text-center">
            <p><%= image_tag '/assets/icon-map.svg',class: 'img-fluid' %></p>
            <p>Ващенкийский переулок, 2</p>
            <p>Харків, Харківська область</p>
          </div>
       
        
          <div class="contact time text-center">
            <p><%= image_tag '/assets/icon-time.svg',class: 'img-fluid' %></p>
            <p>Работаем с 10:00 до 21:00,</p>
            <p>без выходных и праздников</p>
          </div>
    </div>
  </div>
</div>
<script>
var initialFillValue = 0;
 var config1 = liquidFillGaugeDefaultSettings();
    config1.circleColor = "white";
    config1.textColor = "white";
    config1.waveTextColor = "#white";
    config1.waveColor = "#fff892";
    config1.circleFillGap = 0;
    config1.circleThickness = 0.05;
    config1.textVertPosition = 0.5;
    config1.waveAnimateTime = 1000;
    config1.displayPercent = false;
    config1.minValue = 0;
    config1.maxValue = 400;
 
 var gauge1 = loadLiquidFillGauge("fillgauge1", initialFillValue,config1);
  $(".gift.form-box input[type=text],.gift.form-box textarea").each(function(){
   if($(this).val()){
     initialFillValue += 100;
   }
    gauge1.update(initialFillValue);
  });
</script>