<div class="row">
  <div class="col-lg-9">
    <h2 class="title">
      <%= page.name %>
    </h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="ball-box">
          <svg id="fillgauge1" width="97%" height="200" ></svg>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="gift form-box">
          <%= form_for :project,url: '#' do |f| %>
          <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
               <%= f.text_area :comment, class: 'form-control',placeholder: 'Опишите кратко свой проект' %>
              </div>
            </div>
            <div class="actions">
             <div class="container">
               <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <%= f.submit 'Обсудить проект', class: 'btn btn-primary' %>
              </div>
            </div>
              </div>
             </div>
              
              
            </div>
            
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="social-links">
      <div class="contact message text-center">
            <p><%= image_tag '/assets/icon-message.svg',class: 'img-fluid' %></p>
            <a href="#">info@biglions.org</a>
          </div>
        
        
          <div class="contact mobile text-center">
            <p><%= image_tag '/assets/icon-mobile.svg',class: 'img-fluid' %></p>
            <p>+38 (097) 731-56-10</p>
            <p>+38 (044) 954-66-28</p>
          </div>
        
        
          <div class="contact map text-center">
            <p><%= image_tag '/assets/icon-map.svg',class: 'img-fluid' %></p>
            <p>Ващенкийский переулок, 2</p>
            <p>Харків, Харківська область</p>
          </div>
       
        
          <div class="contact time text-center">
            <p><%= image_tag '/assets/icon-time.svg',class: 'img-fluid' %></p>
            <p>Работаем с 10:00 до 21:00,</p>
            <p>без выходных и праздников</p>
          </div>
    </div>
  </div>
</div>