<div class="row">
      <div class="col-md-4 col-lg-4">
        <h2 class="title intro-title"><%= page.name %></h2>
        <p class="description intro-description first"><%= page.indents.first.title %></p>
        <p class="description intro-description second"><%= page.indents.first.body %></p>
      </div>
      <div class="col-lg-6 offset-lg-2">
        <div class="row">
          <% page.indents.offset(1).each do |item| %>
          <div class="col-md-6">
            <h2 class="number intro-number"><%= item.title %></h2>
            <p class="description intro-description"><%= item.body %></p>
          </div>
          <%end%>
        </div>
      </div>
</div>