<div class="row">
      <div class="col-md-5 col-12 col-sm-12">
       <div class="justify-box">
         <h2 class="title intro-title"><%= page.name %></h2>
        <p class="description intro-description first"><%= page.indents.first.title %></p>
        <% if page.title == 'intro-marketing' %>
        <p class="description intro-description phrase">
          "Делать деньги без рекламы может только монетный двор."<br>
          <span class="author">Маколей Т.Б.</span>
        </p>
        <% else %>
        <p class="description intro-description second <% if page.title == 'intro-development'%> green <% end %>"><%= page.indents.first.body %></p>
        <% end %>
       </div>
      </div>
      <div class="col-md-6 offset-md-1 col-12 col-sm-12">
        <div class="row">
          <% page.indents.offset(1).each do |item| %>
          <div class="col-md-6 col-12 col-sm-12">
            <h2 class="number intro-number"><%= item.title %></h2>
            <p class="description intro-description"><%= item.body %></p>
          </div>
          <%end%>
        </div>
      </div>
</div>