<div class="contacts">
  <div class="container">
     <div class="row">
    <div class="col-md-6 offset-md-3 col-12 col-sm-12">
      <h2 class="title text-center">
        ЗВОНИТЕ. ПИШИТЕ. ПРИХОДИТЕ.
      </h2>
      <p class="description text-center">
       Мы открыты для всех форм связи, от ставшего уже классическим e-mail до рукописного письма или вообще голубиной почты. У нас нет предрассудков или предпочтений, мы готовы общаться и решать рабочие вопросы удобным для вас способом. Все реквизиты найдете ниже, а там уже решайте самостоятельно – звонить, приходить самостоятельно или прислать собаку с приколотым к ошейнику письмом.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 col-12 col-sm-12">
      <div class="row <% if mobile_device? %> flex-column <% end %>">
          <div class="contact message text-center">
            <p><%= image_tag '/assets/icon-message.svg',class: 'img-fluid' %></p>
            <a href="#">info@biglions.org</a>
          </div>
        
        
          <div class="contact mobile text-center">
            <p><%= image_tag '/assets/icon-mobile.svg',class: 'img-fluid' %></p>
            <p><a href="tel:05775077130">(057) 750-77-13</a></p>
            <p><a href="tel:0948507713">(094) 850-77-13</a></p>
          </div>
        
        
          <div class="contact map text-center">
            <p><%= image_tag '/assets/icon-map.svg',class: 'img-fluid' %></p>
            <p>улица Грековская 5</p>
            <p>Харьков, Харьковская область</p>
            <div class="map-button button" onclick="ga('send', 'event', 'contacts_page', 'on_map')">
              Мы на карте
            </div>
          </div>
       
        
          <div class="contact time text-center">
            <p><%= image_tag '/assets/icon-time.svg',class: 'img-fluid' %></p>
            <p>Работаем с 10:00 до 22:00,</p>
            <p>без выходных и праздников</p>
          </div>
        
      </div>
    </div>
  </div>
  </div>
</div>
<div class="map-box">
  
    <iframe src="https://www.google.com/maps/d/embed?mid=1zAmWVfhdLFuXlHstRrhxQFPazHu1Gsax" width="100%" height="100%"></iframe>
  <div class="close-map">
    <%= image_tag '/assets/close.svg', class: 'img-fluid' %>
  </div>
</div>