<div class="contacts">
  <div class="container">
     <div class="row">
    <div class="col-md-6 offset-md-3 col-12 col-sm-12">
      <h2 class="title text-center">
        Почтовые голуби<br>уже не в моде?
      </h2>
      <p class="description text-center">
        Возможно, но только не у нас! После того, как вы отправите форму,
        маленький гномик распечатает текст и отправит голубя прямо к нам!
        Именно из-за этого время ответа на заявку составляет от 4 до 24
        часов (зависит от погоды и настрония голубя с гномом).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 col-12 col-sm-12">
      <div class="row <% if mobile_device? %> flex-column <% end %>">
          <div class="contact message text-center">
            <p><%= image_tag '/assets/icon-message.svg',class: 'img-fluid' %></p>
            <a href="#">info@biglions.org</a>
          </div>
        
        
          <div class="contact mobile text-center">
            <p><%= image_tag '/assets/icon-mobile.svg',class: 'img-fluid' %></p>
            <p>+38 (097) 731-56-10</p>
            <p>+38 (044) 954-66-28</p>
          </div>
        
        
          <div class="contact map text-center">
            <p><%= image_tag '/assets/icon-map.svg',class: 'img-fluid' %></p>
            <p>Ващенкийский переулок, 2</p>
            <p>Харків, Харківська область</p>
            <div class="map-button button" onclick="ga('send', 'event', 'contacts_page', 'on_map')">
              Мы на карте
            </div>
          </div>
       
        
          <div class="contact time text-center">
            <p><%= image_tag '/assets/icon-time.svg',class: 'img-fluid' %></p>
            <p>Работаем с 10:00 до 21:00,</p>
            <p>без выходных и праздников</p>
          </div>
        
      </div>
    </div>
  </div>
  </div>
</div>
<div class="map-box">
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Z4b143n9p6rPralYO3f8ruLj7Ps" width="100%" height="100%"></iframe>
  <div class="close-map">
    <%= image_tag '/assets/close.svg', class: 'img-fluid' %>
  </div>
</div>