<div class="<%= @category.title %> slider">
 <div class="viewport">
   <div class="slidewrapper">
     <% @pages.each_with_index do |page,number| %>
     <div class="slide-item">
       <div class="slide-content <%= page.title %>">
         <div class="container">
           <div class="row">
             <div class="col-md-11">
               
                <% if @category.title == 'main' %>
                         <%= render "main",page: page,page_number: number + 1 %>
                       <% else %>
                         <%= render "pages/#{@category.title}/#{page.title}",page: page,category: @category %>
                       <%end %>
             </div>
           </div>
         </div>
       </div>
     </div>
     <% end %>
   </div>
 </div>
  
</div>
<div class="navigation">
 <% if @category.title == 'main' %>
  <%= render 'main_navigation',pages: @pages %>
 <% else %>
  <%= render 'page_navigation',pages: @pages %>
 <% end %>
</div>
<% unless @category.title == 'main' %>
<div class="slide-arrows">
  <div class="arrow arrowPrev" data-slide="prev">
    <%= image_tag '/assets/to-left.svg', class: 'img-fluid' %>
  </div>
  <div class="arrow arrowNext" data-slide="next">
    <%= image_tag '/assets/to-right.svg', class: 'img-fluid' %>
  </div>
</div>
<% end %>



