<h2 class="title text-center">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="form-box">
      <%= form_for :project,url: '#' do |f| %>
      <%= f.hidden_field :form_place, :value => "#{page.category.name}/#{page.name}" %>
          <div class="row">
            <div class="col-md-6 inputs-mobile">
                <div class="input-group">
                  <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
                </div>
                
            </div>
            <div class="col-md-6 inputs-mobile">
              <div class="input-group">
                  <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
                </div>
              <div class="input-group">
               <%= f.text_field :site, class: 'form-control',placeholder: 'Ссылка на ваш сайт' %>
              </div>
            </div>
            <div class="actions">
             <div class="container">
               <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <%= f.button 'Обсудить проект', class: 'button', :onclick => "ga('send', 'event', '#{page.category.title}_#{page.title}_page', 'send_discuss_project_8')" %>
              </div>
            </div>
              </div>
             </div>
              
              
            </div>
            
          </div>
       <% end %>
    </div>
  </div>
</div>