<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <% category.tariffs.each do |item| %>
   <div class="col-md-3">
     <div class="tariff-box text-center">
      <h4>
        <%= item.title %>
      </h4>
      <p>
        <%= raw(item.body) %>
      </p>
      <div class="tariff-button button">
        $<%= item.price %>
      </div>
    </div>
   </div>
  <% end %>
  <div class="col-md-3">
    <div class="justify-box">
      <p class="description">
        <%= page.indents.first.body %>
      </p>
      <div class="button">
        Заказать консультацию
      </div>
    </div>
    
  </div>
</div>