<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-8">
    <div class="description">
        <%= raw(page.indents.first.body) %>
      </div>
  </div>
</div>
<div class="row">
  <% category.tariffs.each_with_index do |item,number| %>
  <div class="col-xl-4 col-md-4">
    <div class="tariff-box text-center">
      <h4>
        <%= item.title %>
      </h4>
      <p>
        <%= raw(item.body) %>
      </p>
      <div class="price-box modal-btn">
        $<%= item.price %>
      </div>
    </div>
  </div>
  <% end %>
</div>