<div class="row">
  <div class="col-md-8">
    <h2 class="title">
      <%= page.name %>
    </h2>
    <p class="description">
      <%= page.indents.first.body %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if mobile_device? %>
    <div class="row">
      <% page.indents.offset(1).each do |item| %>
        <div class="col-12 col-sm-12 indent-box">
          <h4 class="indent-title"><%= item.title %></h4>
          <p class="description"><%= item.body %></p>
        </div>
     <% end %>
    </div>
    <% else %>
    <div class="overflow-indents-box">
      <div class="indents-wrapper">
        <div class="indents-box">
          <div class="row">
            <% page.indents.offset(1).limit(3).each do |item| %>
            <div class="col-md-3 text-left">
              <div class="line"></div>
              <h4 class="indent-title"><%= item.title %></h4>
              <p class="description"><%= item.body %></p>
            </div>
            <%end %>
            <div class="col-md-3">
              <div class="button-box text-center">
                <div class="button more-less-button" data-direct="more">
                  Больше <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="indents-box">
          <div class="row">
          <div class="col-md-3">
              <div class="button-box text-center">
                <div class="button more-less-button" data-direct="less">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i> Меньше 
                </div>
              </div>
            </div>
          <% page.indents.offset(4).each do |item| %>
            <div class="col-md-3 text-left">
              <div class="line"></div>
              <h4 class="indent-title"><%= item.title %></h4>
              <p class="description"><%= item.body %></p>
            </div>
            <%end %>
          </div>
        </div>
      </div>
   </div>
    <% end %>
  </div>
</div>