



<div class="row">
  <div class="col-md-9 col-sm-8">
    <div class="justify-box">
      <h2 class="title">
        <%= page.name %>
       </h2>
       <h2 class="title price">
         от $350
       </h2>
       <div class="row">
         <div class="col-md-10 indent-box">
           <p class="description">
            <%= page.indents.first.body %>
           </p>
         </div>
       </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
   <div class="price form-box">
     <p class="description text-center hidden-sm-down">
       Заполни форму и получи мощную скидку!
     </p>
     <%= form_for :projects,url: projects_path,remote: true do |f| %>
     <%= f.hidden_field :form_path, :value => "#{page.category.name}/#{page.name}" %>
          <div class="input-group">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?',autocomplete: "off" %>
          </div>
          <div class="input-group">
            <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона',autocomplete: "off" %>
          </div>
          <div class="input-group">
            <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта',autocomplete: "off" %>
          </div>
          <div class="input-group">
            <%= f.button 'Обсудить проект', class: 'button' %>
          </div>
          <% end %>
   </div>
    
  </div>
</div>