<div class="row">
  <div class="col-md-6">
    <h2 class="title">
      <%= page.name %>
    </h2>
    <p class="description">
      <%= page.indents.first.body %>
    </p>
    <div class="title price">
      от $<%= category.tariffs.first.price %>
    </div>
  </div>
  <div class="col-md-4 offset-md-2">
    <div class="form-box">
      <h4 class="indent-title">
        <%= page.indents.last.title %>
      </h4>
      <p class="description">
        <%= page.indents.last.body %>
      </p>
      <%= form_for :project,url: '#' do |f| %>
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
      </div>
      <div class="input-group">
        <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
      </div>
      <div class="input-group">
        <%= f.button 'Обсудить проект', class: 'button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>