<div class="row">
  <div class="col-md-6 col-12 col-sm-6 indent-mobile">
    <div class="row">
      <div class="col-md-4 col-12 col-sm-12 mobile-image">
        <%= image_tag '/assets/adaptive.svg', class: 'img-fluid' %>
      </div>
    </div>
    <h2 class="title">
      <%= page.name %>
    </h2>
    <div class="row">
      <% page.indents.each do |item| %>
      <div class="col-md-6 text-left col-12 col-sm-6">
        <h2 class="number adaptive-number">
          <%= item.title %>
        </h2>
        <p class="description">
          <%= item.body %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 offset-md-2">
   <div class="justify-box">
     <div class="adaptive form-box">
    <p class="description">
      Закажи самый адаптивный сайт в животном мире, и получи скидку 10%
    </p>
     <%= form_for :projects,url: projects_path,remote: true do |f| %>
       <%= f.hidden_field :form_path, :value => "#{page.category.name}/#{page.name}" %>
          <div class="input-group">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?',autocomplete: "off" %>
          </div>
          <div class="input-group">
            <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона',autocomplete: "off" %>
          </div>
          <div class="input-group">
            <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта',autocomplete: "off" %>
          </div>
          <div class="input-group">
            <%= f.button 'Обсудить проект', class: 'button' %>
          </div>
          <% end %>
   </div>
   </div>
    
  </div>
</div>