<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag '/assets/adaptive.svg', class: 'img-fluid' %>
      </div>
    </div>
    <h2 class="title">
      <%= page.name %>
    </h2>
    <div class="row">
      <% page.indents.each do |item| %>
      <div class="col-lg-6 text-left">
        <h2 class="number adaptive-number">
          <%= item.title %>
        </h2>
        <p class="description">
          <%= item.body %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 offset-lg-2">
   <div class="form-justify">
     <div class="adaptive form-box">
    <p class="description">
      Закажи самый адаптивный сайт в животном мире, и получи скидку 10%
    </p>
     <%= form_for :project,url: '#' do |f| %>
          <div class="input-group">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
          </div>
          <div class="input-group">
            <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
          </div>
          <div class="input-group">
            <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
          </div>
          <div class="input-group">
            <%= f.submit 'Обсудить проект', class: 'btn btn-primary' %>
          </div>
          <% end %>
   </div>
   </div>
    
  </div>
</div>