<h2 class="title">
  <%= page.name %>
</h2>
<div class="row">
  <div class="col-md-12">
    <div class="indent-title">
      <%= page.indents.last.title %>
    </div>
  </div>
</div>
<div class="row">
  <% page.indents.limit(6).each do |item| %>
  <div class="col-md-4 indent-box text-center">
    <%= image_tag item.image_url, class: 'indent-image img-fluid' %>
        <h4 class="indent-title"><%= item.title %></h4>
        <p class="description text-left"><%= item.body %></p>
  </div>
  <% end %>
</div>