<div class="modal_box">
  <div class="modal_content">
    <div class="modal-form-box">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 form-place">
            <h2>Обсудить<br> проект</h2>
          <%= form_for :projects,url: projects_path,html: {multipart: true},remote: true,authenticity_token: true do |f| %>
          <div class="row">
            <%= f.hidden_field :form_path, class: 'form-path' %>
            <div class="col-md-6">
                <div class="input-group">
                  <%= f.text_field :name, class: 'form-control',autocomplete: "off",placeholder: 'Как Вас зовут?' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона',autocomplete: "off" %>
                </div>
                <div class="input-group">
                  <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта',autocomplete: "off" %>
                </div>
            </div>
            <div class="col-md-6 inputs-mobile">
              <div class="input-group">
               <%= f.text_area :comment, class: 'form-control',placeholder: 'Опишите кратко свой проект' %>
              </div>
            </div>
            <div class="actions">
             <div class="container">
               <div class="row">
                <div class="col-md-6 action-mobile">
              <div class="input-group file">
                <%= f.file_field :document, class: 'form-control file-field', :onclick => "ga('send', 'event', 'discuss_project_page', 'add_tz')" %>
                <%= f.label :document do %>
                <%= image_tag '/assets/attach.svg' %>
                Прикрепить тех. задание
                <% end %>
              </div>
            </div>
            <div class="col-md-6 action-mobile">
              <div class="input-group">
                <%= f.button 'Обсудить проект', class: 'button', :onclick => "ga('send', 'event', 'discuss_project_page_1', 'send_discuss_project')" %>
              </div>
            </div>
              </div>
               <div class="row">
                 <div class="col-md-5">
                   <div class="uploaded-file">
                     
                   </div>
                 </div>
               </div>
             </div>
            </div>
          </div>
          <% end %>
          <p class="agreement">Отправляя форму, вы соглашаетесь с <span style="text-decoration: underline; color: #fff">"Правилами поведения"</span>, и положением о переписи квартиры.</p>
          <h4>BigLions © 2015-2017</h4>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="close-modal-form">
    <%= image_tag '/assets/close.svg',class: 'img-fluid' %>
  </div>
  
</div>
<script>
  $(document).ready(function(){
    $('.form-path').val(window.location.pathname);
  })
</script>