<div class="modal_box">
  <div class="modal_content">
    <div class="modal-form-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h2>Обсудить проект</h2>
          <%= form_for :project,url: '#' do |f| %>
          <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                  <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
                </div>
                <div class="input-group">
                  <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
               <%= f.text_area :comment, class: 'form-control',placeholder: 'Опишите кратко свой проект' %>
              </div>
            </div>
            <div class="actions">
             <div class="container">
               <div class="row">
                <div class="col-lg-6">
              <div class="input-group file">
                <%= f.file_field :file, class: 'form-control' %>
                <%= f.label :file do %>
                <%= image_tag '/assets/attach.svg' %>
                Прикрепить тех. задание
                <% end %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <%= f.submit 'Обсудить проект', class: 'btn btn-primary' %>
              </div>
            </div>
              </div>
             </div>
              
              
            </div>
            
          </div>
          <% end %>
          <h4>BigLions © 2015-2017</h4>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>