<% if mobile_device? %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xs-12 top-menu-opened-item flex-column">
          <div class="top-menu-item-mobile services">
            <h4><%= link_to 'Услуги',services_path %> <i class="fa fa-caret-down caret-btn" aria-hidden="true"></i></h4>
            <div class="menu-item-box">
              <div class="menu-item mobile">
                <% Category.find_by(:title => 'services').categories.each do |item| %>
                <div class="category-link">
                  <%= link_to item.name,services_category_path(item.title) %>
                <div class="sub-categories-links-box <%= item.title %>">
                 <div class="sub-categories-links">
                  <div class="row">
                    <% item.categories.in_groups_of(2,false).each do |group| %>
                    <div class="col-md-6">
                    <% group.each do |sub_item| %>
                      <%= link_to sub_item.name,services_sub_category_path(item.title,sub_item.title) %><br>
                    <% end %>
                    </div>
                    <% end %>
                  </div>
                 </div>
                </div>
                </div>
                <% end %>
            </div>
            </div>
          </div>
          <div class="top-menu-item-mobile company">
            <h4><%= link_to 'Компания',about_path %> <i class="fa fa-caret-down caret-btn" aria-hidden="true"></i></h4>
            
              <div class="menu-item-box">
                <div class="menu-item mobile">
                <% Category.find_by(:title => 'about').pages.each do |item| %>
                <%= link_to item.name,about_path(anchor: item.title) %>
                <% end %>
              </div>
              </div>
           
          </div>
    </div>
    <div class="col-sm-12 col-xs-12 top-menu-opened-item flex-column">
          <div class="top-menu-item-mobile portfolio">
            <h4>Портфолио <i class="fa fa-caret-down caret-btn" aria-hidden="true"></i></h4>
            <div class="top-menu-item-hovered">
              <div class="top-battlements"></div>
              <div class="bottom-battlements"></div>
            </div>
          </div>
          <div class="top-menu-item-mobile contacts">
            <h4><%= link_to 'Контакты', contacts_path %> <i class="fa fa-caret-down caret-btn" aria-hidden="true"></i></h4>
            <div class="menu-item-box">
              <div class="menu-item mobile contacts-menu">
                <p class="mobile"><a href="tel:+380943425163">(094) <b>342-51-63</b></a></p>
                <a href="#">info@biglions.org</a>
                <a href="#"><%= image_tag '/assets/icon-scype.svg',class: 'img-fluid' %> biglions</a>
                <p>Украина, г.Харьков, ул.Грековская 5 </p>
                <%= link_to 'Просмотреть все контакты',contacts_path,class: 'view-contacts' %>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<div class="social">
            <a href="#"><%= image_tag '/assets/instagram.svg' %></a>
            <a href="#"><%= image_tag '/assets/facebook.svg' %></a>
            <a href="#"><%= image_tag '/assets/twitter.svg' %></a>
</div>
<div class="col-xs-12 col-sm-12 top-menu-opened-discuss-project flex-column">
          <%= image_tag '/assets/logo.svg',width: '50',height: '50'%>
          <h2>Обсудить<br>проект</h2>
          <%= form_for :projects,url: projects_path,remote: true do |f| %>
          <div class="input-group">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
          </div>
          <div class="input-group">
            <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
          </div>
          <div class="input-group">
            <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
          </div>
          <div class="input-group">
            <%= f.text_area :comment, class: 'form-control',placeholder: 'Опишите кратко свой проект' %>
          </div>
          <div class="input-group file">
            <%= f.file_field :document, class: 'form-control' %>
            <%= f.label :document do %>
              <%= image_tag '/assets/attach.svg' %>
              Прикрепить тех. задание
            <% end %>
          </div>
          <div class="input-group">
            <%= f.button 'Обсудить проект', class: 'button' %>
          </div>
          <% end %>
          <p class="agreement">Отправляя форму, вы соглашаетесь с "Правилами поведения", и положением о переписи квартиры.</p>
          <h4>BigLions © 2015-2017</h4>
</div>
<% else %>
<div class="container-fluid">
       <div class="row flex-row">
        <div class="top-menu-opened">
          <div class="close-icon">
            <%= image_tag '/assets/close.svg' %>
          </div>
          <div class="social">
            <a href="#"><%= image_tag '/assets/instagram.svg' %></a>
            <a href="#"><%= image_tag '/assets/facebook.svg' %></a>
            <a href="#"><%= image_tag '/assets/twitter.svg' %></a>
          </div>
        </div>
        <div class="col-md-4 top-menu-opened-item flex-column">
          <div class="top-menu-item services">
            <h4><%= link_to 'Услуги',services_path %></h4>
            <div class="top-menu-item-hovered">
              <div class="top-battlements"></div>
              <div class="menu-item">
                <% Category.find_by(:title => 'services').categories.each do |item| %>
                <div class="category-link">
                  <%= link_to item.name,services_category_path(item.title) %>
                <div class="sub-categories-links-box <%= item.title %>">
                 <div class="sub-categories-links">
                    <% item.categories.in_groups_of(2,false).each_with_index do |group,i| %>
                    <div class="row">
                    
                    <% group.each do |sub_item| %>
                      <div class="col-md-6">
                      <%= link_to sub_item.name,services_sub_category_path(item.title,sub_item.title) %>
                        </div>
                    <% end %>
                    </div>
                    <% end %>
                   
                 </div>
                </div>
                </div>
                <% end %>
              </div>
              <div class="bottom-battlements"></div>
            </div>
          </div>
          <div class="top-menu-item company">
            <h4><%= link_to 'Компания',about_path %></h4>
            <div class="top-menu-item-hovered">
              <div class="top-battlements"></div>
              <div class="menu-item company-links">
                <% Category.find_by(:title => 'about').pages.each do |item| %>
                <%= link_to item.name,about_path(anchor: item.title) %>
                <% end %>
              </div>
              <div class="bottom-battlements"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 top-menu-opened-item flex-column">
          <div class="top-menu-item portfolio">
            <h4>Портфолио</h4>
            <div class="top-menu-item-hovered">
              <div class="top-battlements"></div>
              <div class="menu-item">
                <div class="category-link">
                  <span>По типу работ</span>
                  <div class="sub-categories-links-box">
                    <div class="sub-categories-links">
                      
                        <% WorkType.all.in_groups_of(2,false).each do |group| %>
                        <div class="row">
                          <% group.each do |item| %>
                          <div class="col-md-6">
                          <%= link_to item.title,cases_path(filter: {:work_type => item.id}) %>
                          </div>
                          <% end %>
                        </div>
                      <% end %>
                     </div>
                  </div>
                </div>
                
                
                <div class="category-link">
                  <span>По отрасли</span>
                  <div class="sub-categories-links-box">
                    <div class="sub-categories-links">
                      <% Industry.all.in_groups_of(2,false).each do |group| %>
                        <div class="row">
                          <% group.each do |item| %>
                          <div class="col-md-6">
                          <%= link_to item.title,cases_path(filter: {:work_type => item.id}) %>
                          </div>
                          <% end %>
                        </div>
                      <% end %>

                     </div>
                  </div>
                </div>
                <%= link_to "Посмотреть все работы",cases_path, class: 'cases-link' %>
              </div>
              <div class="bottom-battlements"></div>
            </div>
          </div>
          <div class="top-menu-item contacts">
            <h4><%= link_to 'Контакты', contacts_path, :onclick => "ga('send', 'event', 'site_visitka_what_we_do_page', 'send_discuss_project_2')" %></h4>
            <div class="top-menu-item-hovered">
              <div class="top-battlements"></div>
              <div class="menu-item contacts-box">
                <p class="mobile"><a href="tel:+380948507713" class="phone">(094) <b>850-77-13</b></a></p>
                <a href="mailto:info@biglions.org" class="mail">info@biglions.org</a>
                <a href="tg://resolve?domain=biglions_telegram" class="skype"><%= image_tag '/assets/telegram.png',class: 'img-fluid',width: '25' %> biglions_telegram</a>
                <p>Украина, г.Харьков, ул.Грековская 5 </p>
                <%= link_to 'Просмотреть все контакты',contacts_path,class: 'view-contacts', :onclick => "ga('send', 'event', 'menu_page_3', 'view_contacts')" %>
              </div>
              <div class="bottom-battlements"></div>
            </div>
          </div>
        </div>
        <div class="col-md top-menu-opened-discuss-project flex-column">
          <%= image_tag '/assets/logo.svg',width: '50',height: '50'%>
          <h2>Обсудить<br>проект</h2>
          <%= form_for :projects,url: projects_path,html:{multipart: true},authenticity_token: true,remote: true do |f| %>
          <%= f.hidden_field :form_path, class: 'form-path' %>
          <div class="input-group">
            <%= f.text_field :name, class: 'form-control',placeholder: 'Как Вас зовут?' %>
          </div>
          <div class="input-group">
            <%= f.text_field :phone, class: 'form-control',placeholder: 'Ваш номер телефона' %>
          </div>
          <div class="input-group">
            <%= f.text_field :email, class: 'form-control',placeholder: 'Электронная почта' %>
          </div>
          <div class="input-group">
            <%= f.text_area :comment, class: 'form-control',placeholder: 'Опишите кратко свой проект' %>
          </div>
          <div class="input-group">
            <%= f.button 'Обсудить проект', class: 'button', :onclick => "ga('send', 'event', 'menu_page_1', 'send_discuss_project_1')" %>
          </div>
          <% end %>
          <p class="agreement">Отправляя форму, вы соглашаетесь с <span style="text-decoration: underline; color: #fff">"Правилами поведения"</span>, и положением о переписи квартиры.</p>
          <h4>BigLions © 2015-2017</h4>
        </div>
         
       </div>
  </div>
  <% end %>