<!DOCTYPE html>
<html>
  <head>
    <title>Biglions</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
   <header id="top-menu">
     <%= render 'layouts/top-menu' %>
   </header>
   <div class="overlay">
     <%= render 'layouts/overlay' %>
   </div>
   <div id="content">
     <%= yield %>
   </div>
   <%= render 'layouts/modal-window' %>
   
  </body>
</html>
