<!DOCTYPE html>
<html>
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-106319141-1', 'auto');
      ga('send', 'pageview');

    </script>
    <title>Biglions</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  </head>
  <body>
    <header class="portfolio-header">
      <div class="row">
        <div class="col-md-1 col-1">
          <div class="back">
            <%= link_to request.referer do %><%= image_tag "/assets/to-left.svg" %><% end %>
          </div>
        </div>
        <div class="col-md-2 offset-md-4 col-4 offset-3">
          <div class="logo">
            <%= image_tag "/assets/logo.svg", class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-2 offset-md-3 col-4">
          <div class="discuss-project button modal-btn">
            Обсудить проект
          </div>
        </div>
      </div>
    </header>
    <div id="portfolio">
      <%= yield %>
    </div>
    <%= render 'layouts/modal-window' %>
    <%= render 'layouts/discuss-project-response' %>
  </body>
</html>